/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #F8F1F1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Container das notificações */
#notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 1000;
  }
  
  /* Estilo das notificações */
  .notification {
    background-color: #F29B9B;
    color: #603C28;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 0px 10px #F2D5CE;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Animação de entrada */
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
    

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #603C28;
}

label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #F29B9B;;
    color: #603C28;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #F2D5CE; /* Cor do botão quando passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .login-container {
        width: 100%;
        padding: 20px;
    }
}
